
body {
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at top, #1a1a2e, #0f0f1a 60%);
  color: #fff;
  overflow-x: hidden;
}

/* =========================
   FUNDO TECNOLÓGICO
========================= */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #0f0f1a, #1a0033, #001f3f);
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: radial-gradient(#00f5ff22 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.2;
  z-index: -1;
}

/* =========================
   NAVBAR
========================= */

nav {
     display: flex;
     flex-direction: column;
     justify-content: center;
 height: 50px;
 margin-bottom: 50px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #00f5ff33;
}

nav a {
     margin:0  0 0 100px ;
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}

nav a:hover {
  color: #00f5ff;
  text-shadow: 0 0 15px #00f5ff;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
    min-height: 100vh;
}

/* TEXTO ESQUERDO */
.hero-text {
    max-width: 550px;
}

/* BADGE */
.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 255, 140, 0.1);
    color: #00ff88;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    background: #00ff88;
    border-radius: 50%;
}

/* PORTFÓLIO LABEL */
.portfolio-label {
    color: #777;
    margin-bottom: 10px;
}

/* TÍTULO */
.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-text h1 span {
    background: linear-gradient(90deg, #4f7cff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* SUBTÍTULO */
.hero-text h2 {
    font-size: 20px;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 20px;
}

/* DESCRIÇÃO */
.descricao {
    color: #888;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* BOTÕES */
.button{
    display: flex;
    gap: 20px;
}

/* =========================
   BOTÕES FUTURISTAS
========================= */

.but-cont {
  background: linear-gradient(90deg, #00f5ff, #8a2eff);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 20px #00f5ff;
  transition: 0.4s;

    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.but-cont:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #ff2ec4;
}


.btn-outline {
    border: 1px solid #4f7cff;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    color: #4f7cff;
    font-weight: 600;
    transition: 0.3s;
}

.btn-outline:hover {
     background: linear-gradient(90deg, #00f5ff, #8a2eff);
    color: white;
     transform: scale(1.08);
  box-shadow: 0 0 35px #ff2ec4;
}

/* LADO DIREITO */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image :hover{
  box-shadow: 0 0 40px #ff2ec4;
  transform: scale(1.03);
}

/* CARD DA IMAGEM */
.image-card {
    position: relative;
    background: linear-gradient(135deg, #081ff0, #084050);
    padding: 30px;
    border-radius: 25px;
    border-radius: 20px;
     box-shadow: 0 0 25px #00f5ff;
  transition: 0.4s;
}

/* FOTO */
.image-card img {
    width: 320px;
    border-radius: 20px;
    display: flex;
}

.image-card {
    position: relative;
}

/* ÍCONES FLUTUANTES */
.floating-icon {
    position: absolute;
    width: 45px;
    height: 45px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    animation: float 4s ease-in-out infinite;
}

/* Animação */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* Imagens dentro dos ícones */
  .floating-icon img {
    width: 45px;
    height: 45px;
    
}

/* POSIÇÕES */
.icon-js  {
    top: 10%;
    left: -20px;
}

.icon-html5{
  top: 50%;
    left: -25px;
}

.icon-github{
     left: 370px;
    right: -50%;
    animation-delay: 2s;
}
.icon-typescript{
    top: 50%;
    right: -25px;
}
.icon-css3{
   top: 0%;
    right: 150px;
}
.icon-git{
    bottom: 0%;
    left: 150px;
}
.icon-node{
  top: 10%;
    right: -10px;
}
.icon-tailwind{
     bottom: 0%;
    left: -25px;
}

/* =========================
   TÍTULOS
========================= */

h1, h2, h3,p {
  letter-spacing: 2px;
}

h1 {
     font-size: 2.5rem;
  text-shadow: 0 0 20px #00f5ff;
}


/* =========================
   SOBRE MIM
========================= */
.Resumo{
      display: flex;
     flex-direction: column;
     align-items: center;
}
.about {  
  line-height: 1.7;
  color: #ccc;
} 

.tex{
     margin: 0 50px 0 50px;
     letter-spacing: 2px;
}

/* =========================
   HABILIDADES
========================= */
.skill{
     display: flex;
     flex-direction: column;
     align-items: center;
    
}
.skill-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid #8a2eff33;
  margin-bottom: 15px;
  transition: 0.4s;
  width: 700px;
  
}

.skill-card:hover {
  box-shadow: 0 0 25px #8a2eff;
}

.skill-bar {
  height: 10px;
  border-radius: 50px;
  background: #1a1a2e;
  margin-top: 10px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(90deg, #00f5ff, #8a2eff);
  box-shadow: 0 0 15px #00f5ff;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #00f5ff;
  }
  to {
    box-shadow: 0 0 25px #ff2ec4;
  }
}

/* =========================
   PROJETOS
========================= */
.projects-grid{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
}

.project-card img {
  width: 400px;
  height: 300px;
  margin:0 30px 20px 30px;
   border:none;

}

.project-card :hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #00f5ff;
   transition: 0.4s;
}


/* =========================
   CONTATO
========================= */

form {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid #00f5ff33;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #8a2eff55;
  background: rgba(255, 255, 255, 0.05);
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #00f5ff;
  box-shadow: 0 0 15px #00f5ff;
}

/* =========================
   ÍCONES SOCIAIS
========================= */

.social-icons a {
  font-size: 24px;
  margin-right: 15px;
  color: #fff;
  transition: 0.4s;
}

.social-icons a:hover {
  color: #ff2ec4;
  text-shadow: 0 0 15px #ff2ec4;
}

/* =========================
   RESPONSIVO
========================= */

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .hero-card {
    padding: 20px;
  }
}

 