@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --branco:#ffff;
    --preto:#000;
    --bg-color-1:#323845;
    --bg-color-2:#101623;
    --container-bg-color:#1e1f24;
     --header-color-1:#2c2e45;
    --header-color-2:#545d70;
    --link-hover-color:#ffae00;
     --banner-shadow-color-1:#000000;
    --banner-shadow-color-2:#00000000;
    --box-bg-color:#2b2c44;
    --btn-color-1:#449225;
    --btn-color-2: #c1ffa8;
      --bar-color1:#787f9a;
      --bar-color2:#ffae00;
;
}
body {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
    background: linear-gradient(180deg,
       var(--bg-color-1) 0%,
       var(--bg-color-2) 100% );
    color: var(--branco);
    font-family: "Roboto", sans-serif;;
    letter-spacing: 2px;
    overflow-x: hidden;
}
#container {
          background-color: var(--container-bg-color);
          max-width: 1280px;
          margin: 50px;
          min-height: calc(100vh - 100);
          flex-grow: 1;
          box-shadow: -10px 10px 40px var(--preto);
}
#header {
     background-color: var(--bg-color-1);
    background: linear-gradient(90deg,
       var(--header-color-1) 0%,
       var(--header-color-2) 100%
    );
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
 nav > img {
    align-self: flex-start;
         margin: 10px 3vw;
 }
 .menu-hambuerger{
     display: none;
 }
 
 nav > ul {
     width: 100%;
     display: flex;
     justify-content: center;
     gap: 7vw;
 }

 nav > ul > li {
         text-decoration: none;
         display: inline;

 }

 a {
    color: var(--branco);
    text-decoration: none;
 }

  a:hover {
    color: var(--link-hover-color);
    
 }

 #banner {
     height: 100vh;
      width: 50vw;
       background-image: url(images/perfil.png);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       
 }

 #banner-shadow {
       height: 100%;
       background: linear-gradient( 0deg,
       var(--banner-shadow-color-1) 0%,
       var(--banner-shadow-color-2) 50%,
        var(--banner-shadow-color-2) 100%    
    );
    position: relative;
 }

#banner h1 {
    position: relative;
    top: -180px;
    left: 40px;
    font-size: 50px;
    text-transform: uppercase;
}

#info {
     display: flex;
     justify-content: space-between;
}

#SOBRE {
       flex: 1;
}
.title {
        background: linear-gradient( 90deg,
       var(--banner-shadow-color-1) 0%,
       var(--banner-shadow-color-2) 100%
        );
        font-size: 36px;
        padding: 10px 30px;
        margin: 0 0 20px 0 ;
}
 #SOBRE p {
        margin: 30px;
        margin-right: 50px;
 }

 #SOBRE p {
    font-size: 28px;
    font-weight: lighter;
 }

 #HABILIDADES {
      flex: 1;
      margin-right: 30px;
      margin-top: -180px;
      z-index: 100;
 }

  #social {
      display: flex;
 }
 #social img {

      width: 50px;
      padding: 10px 0 0 30px;
      transition: width 100ms;
 }

 #social img:hover {
      width: 55px;
      
 }
 #Resumo {
      margin: -400px 0 400px 100px;
      width: 330px ;
      height: 50vw;
      padding: 20px;
      background-color: var(--box-bg-color);
      border-radius: 10px;
 }

 h3 {
     text-align: center;
    font-size: 36px;
 }

 #Resumo h3  {
     margin-top: 50px;
     text-align: center;
      padding: 0;
 }
 #Resumo p {
     margin-top: 50px;
     text-align: center;
     font-size: 28px;
    font-weight: lighter;
 }

 #Resumo a, .submit {
     display: flex;
     justify-content: center;
     margin-top: 100px;
      text-transform: uppercase;
      background-color: var(--btn-color-1);
      color: var(--branco);
      font-size: 16px;
      border-radius: 10px;
      border: none;
      padding: 10px;
      font-weight: bold;
    transition: all 500ms ease-in-out;
    cursor: pointer;
 }
 #Resumo a:hover {
      background-color: var(--btn-color-2);
      color: var(--btn-color-1);
 }
 .submit:hover {
      background-color: var(--btn-color-2);
      color: var(--btn-color-1);
 }
 

 #HABILIDADES > h3 {
      padding-left: 20px;
 }

 #HABILIDADES .tecnologias {
        margin: 20px;
        padding: 20px;
        background-color: var(--box-bg-color);
        display: flex;
        border-radius: 10px;
        justify-content: stretch;
        align-items: center;
        gap: 20px;
 }

 .tecnologias img {
     width: 50px;
     height: 50px;
 }

.tecnologias > div {
       width: 100%;
       display: flex;
       flex-direction: column;
       gap: 10px;
}

.tecnologias > div > span {
       font-size: 20px;
       font-weight: bold;
}
.BAR {
    height: 20px;
    background-color: var(--bar-color1);
    border-radius: 10px;
}

.BAR div {
    height: 20px;
    background-color: var(--bar-color2);
    border-radius: 10px;
}

#galeria-projetos {
           display: flex;
           justify-content: space-around;
           flex-wrap: wrap;
}

#galeria-projetos a {
          max-width: 45%;
}

#galeria-projetos > a > img {
     max-width: 100%;
     margin: 10px 0 10px 0;
          
}

#contato {
     display: flex;
     flex-direction: column;
     
}

#container-formulario {
     margin: 20px 40px ;
     padding: 20px;
     max-width: 800px;
     background-color: var(--box-bg-color);
     border-radius: 10px;
     align-self: center;


}

form {
      display: flex;
      flex-wrap: wrap ;
}

.text {
     padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    flex: 1;
}

textarea {
     height: 200px;
}

input[type="text"]:nth-child(3n) {
     flex-basis: 100%;
     gap: 10px;
}
form div{
     padding:10px ;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-basis: 100%;
}

h4 {
     font-size: 16px;
     margin: 5px;
     padding: 5px;
}

#projetos,#info,#contato {
      margin-bottom: 40px;
}

::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-thumb {
     background-color: var(--header-color-2);
}

::-webkit-scrollbar-track {
           background-color: var(--header-color-1);
}

::-webkit-scrollbar-thumb:hover {
     background-color: var(--branco);
}

@media (max-width: 1000px) {
  #banner h1 {
    font-size: 45px;
  }

  nav {
    gap: 0px;
  }

  nav > ul {
    gap: 3vw;
  }

#galeria-projetos a {
          max-width: 40%;
}

  #container-formulario {
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  #banner h1 {
    font-size: 46px;
    position: relative;
    top: -100px;
    left: 25px;
    width: calc(100% - 50px);
  }

  #info {
    flex-direction: column;
  }

  #banner {
    height: 300px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }

  nav > ul {
    flex-direction: column;
    display: none;
    padding: 0;
  }

    nav > ul > li {
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    display: block;
  }

  nav:nth-child(1) {order: 1;}
  nav:nth-child(2) {order: 2;}
  nav:nth-child(3) {order: 3;}
  
  #HABILIDADES{
     margin: 20px;
  }
  
  #container {
     margin: 0px;
  }
 h3,div.title { 
     font-size: 22px;
 }
 
 body {
     letter-spacing: 1px;
 }
 #container-formulario {
     margin: 20px;
 }

 #galeria-projetos  {
      flex-direction: column;
      align-content: center;
}

#galeria-projetos a {
          max-width: none;
}

#galeria-projetos > a > img {
         max-width: 90vw;
         
}
.menu-hambuerger {
    display:block;

}
}

 